/* general rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    background-color: black;
}

/* .clearfix::after{
    display: table;
    clear: both;
    content: '';
} */

/* header rules*/

header {
    width: 100%;
    height: 3em;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons > * {
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 1.5em;
}


.buttons a {
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 0.3em;
    border-radius: 5px;
}

/* main rules */

main {
    width: 100%;
    padding-top: 4em;
    height: 100%;
}

.img-container {
    width: 95%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.img-container img {
    width: 190px;
    /* margin: 0.4em; */
}



/* footer rules */

footer {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    display: flex;
}


footer .audio-video {
    width: 15%;
    height: 100%;
    display: flex;
}

footer .functions {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
}

footer .end-reunion {
    width: 10%;
    height: 100%;
}

.btn {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
}

.btn:hover {
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    cursor: pointer;
}

.btn #angle-up:hover {
    background-color: rgb(107, 107, 107);
    border-radius: 10px;
    transform: scale(1.3);
}

.headset {
    width: 60%;
}

.video {
    width: 40%;
}

#angle-up {
    font-size: 0.6em;
    align-self: flex-end;
    margin-bottom: 0.5em;
    order: -1;
}

.green {
    color: green;
}

.btn > i {
    font-size: 1.2em;
    text-align: center;
}

.btn > span {
    text-align: center;
    display: inline-block;
    font-size: 0.7em;
    margin-top: 0.2em;
}

.functions > * {
    width: calc(100% / 10);
}

.end-reunion input {
    background-color: red;
    color: white;
    padding: 0.6em 1em;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.5em;
}

.end-reunion input:hover{
    cursor: pointer;
    filter: brightness(2);
}


